.jumbotron{
    background: salmon;
}
#title{
    margin-top: -20px;
}
#quote{
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
}
#Rupaul {
    text-align: right;
    font-style: italic;
    font-size: 17px;
    margin-right: 100px;
    margin-bottom:-20px;
}
#play{
    color: red;
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 5px;
}

#restart{
    color: blue;
    font-size: 18px;
    margin-bottom: 10px;
}

#h3timeRemaining{
    color: red;
    font-size: 20px;
}

#timeRemaining{
    color: red;
    font-size: 20px;
}

#congrats{
    color: rgb(218, 21, 224);
    font-size: 26px;
}

#question{
    font-size: 18px;
    color: rgb(218, 21, 224);
    display: block;
    width: 700px;
}

.multipleChoice{
    font-size: 15px;
}

#pResults{
    color: rgb(218, 21, 224);
    font-size: 20px;
}

p{
    font-size: 18px;
    color: rgb(218, 21, 224);
}

/*
  These rules take effect when the browser's width is either 420px or less.
*/
@media screen and (max-width: 420px) {
    body[background]{
        width: 100%;
    }
    #h3timeRemaining{
        margin-left: 5px;
    }
    #question{
        width: 100%;
        margin-left: 2px;
        text-align: left;
    }
    #congrats{
        margin-left: 5px;
        display: block;
        width: 100%;
        font-size: 20px;
        text-align: left;
    }
    .multipleChoice{
        margin-left: 2px;
    }
    #pResults{
        margin-left: 5px;
    }
    
    p{
        margin-left: 5px;
    }
}